.borde .noborde {
    width: 40px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 1s;
    border-radius: 50%;
    border: solid rgb(155, 155, 155) 2px;
}

.borde:hover {
    border: solid rgb(0, 102, 170) 2px;
}

.noborde {
    border: none;
    border-radius: 5px;
    flex-shrink: 6;
    transform: rotateY('150')
}

.completo {
    width: 100%;
    transition: 1s;
    margin: 5px;
    justify-content: flex-end;
}

.completo:hover{
    transform: scale(1.2);
    transition: 1s;
    color: white;
    cursor: pointer;
}

p {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 12px;
}

.completo:last-child {
  margin-top: auto;
  margin-bottom: 10px;
}