.rectangulo-requisiciones img {
    width: 15px;
}

.rectangulo-requisiciones {
    border-bottom: solid rgb(8, 233, 0) 3px;
    border-right: solid rgb(8, 233, 0) 3px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
    margin: 5px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.rectangulo-requisiciones:hover {
    transform: scale(1.02);
    transition: 1s;
}

.urgente {
    border-bottom: solid rgb(233, 0, 0) 3px;
    border-right: solid rgb(233, 0, 0) 3px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}