.modal-content {
    width: 95%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.close {
    align-self: flex-end;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
}