.contenedor-requisiciones {
  width: 100%;
  height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-content: start;
    /* margin: 20px; */
}

.contenedor-requis {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .input-container input:focus + label,
  .input-container input:not(:placeholder-shown) + label {
    top: -16px;
    font-size: 12px;
    color: #000000;
  }