#root {
    padding: 0;
    width: 100%;
}
.dash {
    width: 100%;
}

.contenido {
    display: flex;
    flex: 1;
    min-height: 0;
    width: 100%;
    height: 100%;
}

.oeste {
    width:100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.centro {
    flex: 1;
    overflow-y: auto;
    background-color: rgb(255, 238, 3);
}