.input-group-text img{
    width: 20px;
}

p {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

#root {
  width: 100%;
  height: 100vh;
  display: grid;
}

body {
  background-color: rgb(255, 166, 0);
}

 .centro {
    display: grid;
    z-index: 1;
    justify-items: center;
    align-content: center;
}

.rectangulo {
  background-color: rgba(1, 44, 136, 0.767);
    width: 60%;
    height: 70vh;
    border-radius: 50px;
    padding: 20px;
    display: grid;
    align-content: space-between;
    justify-items: center;
    justify-content: center;
    box-shadow: 20px 20px 10px rgba(1, 1, 1, 0.315);
}

.formulario {
    display: grid;
    align-content: space-between;
    justify-items: center;
    width: 100%;
}

.input-container {
    position: relative;
    margin-top: 20px;
    width: 250px;
  }

  .input-container input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    background-color: white;
    color: #2196f3;
  }

  .btnIngresar {
    background-color: #2196f3;
    color: white;
    margin: 10px;
  }

  .input-container label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #777;
    font-size: 16px;
    background: rgba(255, 255, 255, 0);
    transition: 0.2s ease all;
    pointer-events: none;
  }

  .input-container input:focus + label,
  .input-container input:not(:placeholder-shown) + label {
    top: -16px;
    font-size: 12px;
    color: #ffffff;
  }
